fastapi
uvicorn
pandas
scikit-learn
nltk
joblib
google-api-python-client
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt
transformers
pymongo[srv]
motor
fastapi-mail==1.4.1
torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
